
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');

@keyframes fwd{
    from {height: 0px;}
    to {height: 35rem;}
}
@keyframes bwd{
    from {height: 35rem;}
    to {height: 0px;}
}

@keyframes fwd1{
    from {height: 0px;}
    to {height: 13rem;}
}
@keyframes bwd1{
    from {height: 13rem;}
    to {height: 0px;}
}
.remove-text{
    position: relative;
top: 2rem;
}
.heading-text{
    font-family: 'Mulish', sans-serif;
    bottom: 2rem;
    z-index: -1;
    position: relative;
}
.btn-top{
    z-index: 5;
    position: relative;
    top: 2rem;
    
}
.header-logo{
    height: 7rem;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 5rem;
}
.top-buttons {
    padding: 30px;
    /*background-image: url('/img/bg_header.png');*/
    display:block;
    background-color: #141324;
    max-height: 10rem;
}
.prompt-text{
    font-family: 'Mulish', sans-serif;
}
.entries-card{
    height: 500px;
    max-width: 300px;
    background-color: pink;
    justify-content: center;
    text-align: center;
   padding-left: 10px;
   padding-top: 30px;
   margin: 30px
}

.image img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
}

.addNewEmployee{
      height: 0px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: -1;
    text-align: center;
    margin: auto;
    
}

.new-employee{
    margin-bottom: 50px;
}

.addNewEmployee input {
    text-align: center;
    margin: 0.4% auto;
    height: 3rem;
width: 40%;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.08);
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-subm{
    width: 40%;
    margin-bottom: 10px;
}




.top-buttons h1 {
    color: white;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom:0;

}

.top-buttons button {
margin-top: 30px
}

.delete-employee {
    height: 0px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    text-align: center;
}

.card-deck {
    background-color: black;
}

.row {
    justify-content: center;

}

.col-lg-3 {
    padding-bottom: 30px;
    padding-top: 30px;
    transition: transform .4s;
}

.employee-cards {
    background-image:url('/img/backgnd.png');
    background-size: 100%;
    background-color: blue;
    z-index: 1;
    position: relative;
    min-height: 35rem;
}

.col-lg-3:hover {
    transform:scale(1.1);
    padding: 20px 20px 20px 20px;
}

#delete-entry-value{
height: 3rem;
width: 20%;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.08);
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
padding-left: 1%;
position: relative;
top: 2rem;
}
.btn{
    height: 3rem;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.08);
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
padding-left: 1%;
position: relative;
bottom: 0.1rem;
font-family: 'Mulish', sans-serif;
}
.btn-del{
    position: relative;
    top: 1.9rem;
}

.card{
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    justify-content: center;
    margin: auto;
}

footer {
    text-align: center;
    padding-top: 20px;
    background-image:url('/img/backgnd.png');
    background-size: 100%;
}
.footer{
    font-family: 'Mulish', sans-serif;
    font-size: 0.8rem;
    color: #666666
}
#delete-employee{
    background-image:url('/img/backgnd.png');
    background-size: 100%;
}
#new-employee{
    background-image:url('/img/backgnd.png');
    background-size: 100%;
    margin-bottom: 0;
}