
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes fwd{
    from {height: 0px;}
    to {height: 35rem;}
}
@keyframes bwd{
    from {height: 35rem;}
    to {height: 0px;}
}

@keyframes fwd1{
    from {height: 0px;}
    to {height: 15rem;}
}
@keyframes bwd1{
    from {height: 15rem;}
    to {height: 0px;}
}
@keyframes fwd2{
    from{opacity:0;}
    to{opacity:100;}
}
@keyframes bwd2{
    from{opacity: 1;}
    to{opacity: 0;}
}
.remove-text{
    position: relative;
top: 2rem;
}
@media screen and (max-width:699px){
    .btn-top{
        z-index: 5;
        position: relative;
        top: 2rem;
        width: 7.5rem;
        font-size: 13px !important;
    }  
.header-logo{
    height: 3rem;
}
.top-buttons{
    max-height: 14rem;
}
}
@media screen and (max-width: 1700px){
    .top-buttons{
        min-height: 13rem;
    }
    .btn-top, .btn-show{
        position: relative;
        top: 4rem !important;
    }
}

@media screen and (min-width: 700px){
.btn-top{
    z-index: 5;
    position: relative;
    top: 2rem;
    width: 12rem;
}

@media (min-width: 992px){
    .col-lg-3{
        min-height:700px;
    }

}


.header-logo{
    height: 5rem;
}
}
.hide-btn{
    z-index: 5;
    position: relative;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: inline-block;
}
.btn-show{
    z-index: 5;
    position: relative;
    top: 2rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    width: 2.5rem;
}
.header-logo{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 5rem;
}

.top-buttons {
    padding: 30px;
    max-height: 10rem;
    /*background-image: url('/img/bg_header.png');*/
    display:block;
    background-color: #141324;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.prompt-text{
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.entries-card{
    height: 500px;
    max-width: 300px;
    background-color: pink;
    justify-content: center;
    text-align: center;
   padding-left: 10px;
   padding-top: 30px;
   margin: 30px
}

.image img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
}

.addNewEmployee{
      height: 0px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: -1;
    text-align: center;
    margin: auto;
}

.new-employee{
    margin-bottom: 50px;
}

.addNewEmployee input {
    text-align: center;
    margin: 0.4% auto;
    height: 3rem;
width: 40%;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.08);
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-subm{
    width: 40%;
    margin-bottom: 10px;
}

.top-buttons h1 {
    color: white;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom:0;
}

.top-buttons button {
margin-top: 30px
}

.delete-employee {
    height: 0px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    text-align: center;
}

.card-deck {
    background-color: black;
}

.row {
    justify-content: center;

}

.col-lg-3 {
    padding-bottom: 30px;
    padding-top: 30px;
    transition: transform .4s;
}

.employee-cards {
    /* background-image:url('/img/backgnd.png');
    background-size: 100%; */
    background-color: #F7F6F7;
    z-index: 1;
    position: relative;
    min-height: 35rem;
}

.col-lg-3:hover {
    transform:scale(1.1);
    padding: 20px 20px 20px 20px;
}

#delete-entry-value{
height: 3rem;
width: 20%;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.08);
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
padding-left: 1%;
position: relative;
top: 2rem;
}

.btn{
    height: 3rem;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.08);
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
padding-left: 1%;
position: relative;
bottom: 0.1rem;
font-family: 'Mulish', sans-serif;
}

.btn-del{
    position: relative;
    top: 1.9rem;
}

.card{
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    justify-content: center;
    margin: auto;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

footer{
    text-align: center;
    padding-top: 20px;
    /* background-image:url('/img/backgnd.png');
    background-size: 100%; */
    background-color: #F7F6F7;
}
.footer{
    font-family: 'Mulish', sans-serif;
    font-size: 0.8rem;
    color: #666666;
    font-weight: 200;
}
#delete-employee{
    background-color: #F7F6F7;
    height: 5rem;
}
#new-employee{
    background-color: #F7F6F7;
    margin-bottom: 0;
}
body{
   background-color: #F7F6F7;
}

/* EMPLOYEE ROW VIEW */

.email-text {
    color: #e84545;
}
.email-text:hover{
    color: white;
    font-weight: bold;
}
.email-maxw{
    max-width:200px !important;
}
.table-hide{
    
    text-align: center;
    z-index: 2;
    position: relative;
}
.img-table{
    width: 2rem;
    border-radius: 50%;
    margin-right: 2%;
}
.col-lg3:hover{
    min-height: 700px;
}
.card{
    min-height: 600px;
}